<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yasha.yasha" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.yasha.YashaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yasha.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yasha.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Dark" />
        <activity
            android:name="com.yasha.LoginActivity"
            android:label="@string/login"
            android:parentActivityName="com.yasha.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.LightActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.WelcomeActivity" />
        </activity>
        <activity
            android:name="com.yasha.CommentActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_comment"
            android:parentActivityName="com.yasha.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.MainActivity" />
        </activity>
        <activity
            android:name="com.yasha.PostActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_post"
            android:parentActivityName="com.yasha.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.MainActivity" />
        </activity>
        <activity
            android:name="com.yasha.HistoryActivity"
            android:label=""
            android:parentActivityName="com.yasha.PostActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.PostActivity" />
        </activity>
        <activity
            android:name="com.yasha.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.yasha.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LightActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.WelcomeActivity" />
        </activity>
        <activity
            android:name="com.yasha.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName="com.yasha.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.yasha.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Settings"
            android:parentActivityName="com.yasha.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.MainActivity" />
        </activity>
        <activity
            android:name="com.yasha.DispatchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service
            android:name="com.yasha.services.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name="com.yasha.AgreementActivity"
            android:parentActivityName="com.yasha.WelcomeActivity"
            android:theme="@style/AppTheme.LightActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasha.WelcomeActivity" />
        </activity>

        <!-- Provides search suggestions for words and their definitions. -->
        <provider android:name="com.yasha.providers.SearchSuggestionProvider"
                  android:authorities="com.yasha.providers.SearchSuggestionProvider" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

    </application>

</manifest>
